@import url('./font.css');

html, body {
  background: var(--tg-theme-secondary-bg-color, white);
  padding: 0;
  margin: 0;
  font-family: 'SF Pro Display', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
  /* Отключаем масштабирование */
  touch-action: manipulation;
  overscroll-behavior: none;
  -webkit-overflow-scrolling: auto;
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

* {
  box-sizing: border-box;
  font-family: 'SF Pro Display', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

input, textarea {
  user-select: text;
  -webkit-user-select: text;
}

html { 
  height: 100%; 
  width: 100%; 
}

/* Новые стили для задач */
.todo-item {
  background-color: #ffffff;
  margin-bottom: 8px;
  border-radius: 12px;
  overflow: hidden;
  width: 100%;
  position: relative;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

main {
  width: 100%;
  overflow: hidden;
}

/* Стили для контейнера с задачами */
main > div:last-child {
  padding: 0;
  width: 100%;
  overflow: hidden;
}
